@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=League+Script&display=swap');


html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000000;
  
}

.footer {
  font-size: 17px;
  padding: 25px 0;
  margin: 0;
  box-shadow:  0px 1px 7px rgba(0, 0, 0, 0.1);
}

img {
  padding: 160px 0 20px 0;
  width: 40%;
}

button {
  font-size: 18px;
  margin-bottom: 216px;
  width: 30%;
  height: 50px;
 border-radius: 16px;
 border: #FFFFFF;
 cursor: pointer;
 background-color: #47739f91;
 color: #FFFFFF;
 font-family: 'Montserrat', sans-serif;
 
}

button:hover {
  background-color: #47739fbf;
}

#home-logo {
  width: 50%;
  height: auto;
  padding: 20px 0 0 0;
}

.rules {
  cursor: pointer;
  font-size: 28px;
  text-align: end;
  margin: 0 245px 25px 785px;
padding: 0;
  text-decoration: line-through;
  text-decoration-thickness:12px;
  text-decoration-color: #47739f42;
}

.rules:hover {
  text-decoration-color: #47739f86;
}



// Logged in user

.header {

width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #FFFFFF; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12); 
  display: inline-flex;
  justify-content: end;
}

.user-img {
  margin: 12px 10px 0 0;
  padding: 0;
  width: 30px;
  height: 30px; 
  border-radius: 50%; 
  
}

.user {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  cursor: pointer;
 margin-right: 50px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 25px;
}

.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content p {
  margin: 0;
  padding: 8px ;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
// Modal CSS

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 500px;
  height: 330px;
  padding: 50px 80px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  position: relative;
}

.modal p {
  font-size: 15px;
  
}

.modal button {
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #000000;
  position: absolute;
  right: 0px;
  top: 36px;
}

.modal button:hover {
  font-weight: bold;
}

#modal-img {
  padding: 0 0 15px 0;
display: inline-block;
  width: 50%;
}



// Challenge form

h1 {
  margin-top: 50px;
  font-size: 45px;
  font-family: 'Cabin', sans-serif;
}


.grid-container {
  margin: 0px 150px 80px 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 18px;
}

.grid-item {
  background-color: #ffffff18;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 40px;
  text-align: center;
 font-size: medium;
 box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
}

.grid-item:hover {
  background-color: #47739f8e;
  cursor: pointer;
}




      // Responsive CSS
      // Media Queries

      @media only screen and (max-width: 1200px) {

        .footer, .user, a {
          font-size: 15px;
        }

      .rules {
        font-size: 26px;
      }



        
      }
    
    @media only screen and (max-width: 992px) {
        .footer,  .user, a{
          font-size: 15px;
        }

        .user-img {
          width: 24px;
          height: 24px; 
        }

        .rules {
          font-size: 26px;
        }

      

        .button {
          font-size: 16px;
          padding: 13px 30px;
      }
    }
    
    @media only screen and (max-width: 768px) {
        .footer, .user, a{
          font-size: 13px;
        }

        .user-img {
          width: 22px;
          height: 22px; 
        }

        .rules {
          font-size: 24px;
        }
       

        .button {
          font-size: 14px;
          padding: 11px 28px;
      }
    }
    
    @media only screen and (max-width: 576px) {
       .footer, .user, a {
         font-size: 11px;
       }

       .user-img {
        width: 16px;
        height: 16px; 
      }
     
      .rules {
        font-size: 22px;
      }

      .button {
        font-size: 12px;
        padding: 9px 26px;
    }
    }
    
    @media only screen and (max-width: 480px) {
      .footer, .user, a{
        font-size: 9px;
      }

      .user-img {
        width: 12px;
        height: 12px; 
      }

      .rules {
        font-size: 20px;
      }

      .dropdown-content {
        min-width: 90px;
        right: 40px;
      }

      .dropdown-content a {
        padding: 0;
      }
     
      .button {
        font-size: 10px;
        padding: 7px 22px;
    }
    }
  
