@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');



html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000000;
  
}

p {
  font-size: 17px;

  padding: 25px 0;
  margin: 0;
  box-shadow: inset 0px 1px 7px rgba(0, 0, 0, 0.1);
}

img {
  padding: 160px 0 40px 0;
  width: 30%;
}

button {
  font-size: 18px;
  margin-bottom: 175px;
  width: 30%;
  height: 50px;
 border-radius: 16px;
 border: #FFFFFF;
 cursor: pointer;
 background-color: #47739fb3;
 color: #FFFFFF;
 font-family: 'Montserrat', sans-serif;
 
}

button:hover {
  background-color: #47739fde;
}



      // Responsive CSS
      // Media Queries

      @media only screen and (max-width: 1200px) {
   
      }
    
    @media only screen and (max-width: 992px) {
      
    }
    
    @media only screen and (max-width: 768px) {
       
    }
    
    @media only screen and (max-width: 576px) {
     
    }
    
    @media only screen and (max-width: 480px) {
     
    }
  
