@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=League+Script&display=swap');


html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000000;
  
}

p {
  font-size: 17px;

  padding: 25px 0;
  margin: 0;
  box-shadow:  0px 1px 7px rgba(0, 0, 0, 0.1);
}

img {
  padding: 160px 0 40px 0;
  width: 30%;
}

button {
  font-size: 18px;
  margin-bottom: 175px;
  width: 30%;
  height: 50px;
 border-radius: 16px;
 border: #FFFFFF;
 cursor: pointer;
 background-color: #47739fb3;
 color: #FFFFFF;
 font-family: 'Montserrat', sans-serif;
 
}

button:hover {
  background-color: #47739fde;
}


// Challenge form

h1 {
  margin-top: 50px;
  font-size: 45px;
  font-family: 'Cabin', sans-serif;
}


.header {
  font-size: 70px;
  font-family: 'League Script', cursive;
  margin-right: 30px;
}

.grid-container {
  margin: 70px 200px 80px 200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 5 columns with equal width */
  gap: 18px;
}

.grid-item {
  background-color: #ffffff18;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 40px;
  text-align: center;
 font-size: medium;
 box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
}

.grid-item:hover {
  background-color: #47739f96;
  cursor: pointer;
}




      // Responsive CSS
      // Media Queries

      @media only screen and (max-width: 1200px) {
   
      }
    
    @media only screen and (max-width: 992px) {
      
    }
    
    @media only screen and (max-width: 768px) {
       
    }
    
    @media only screen and (max-width: 576px) {
     
    }
    
    @media only screen and (max-width: 480px) {
     
    }
  
